// You can add CSS rules here that will be inlucded in Hydejack's CSS file

.sidebar-about p {
	font-size: 16px;
	font-weight: 200;
}

.content {
	max-width: 48rem;
}

td a {
	font-size: 16px;
}

td {
	font-size: 16px;
}

td em {
	font-size: 14px;
}

h2 {
	margin: 3rem 0 1rem;
}